.inner {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
.h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.contact__wrap-text {
    line-height: 2.5;
    margin-top: 3.5rem;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;

}
.contact__wrap-ttl {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.3rem;
    position: relative;
}
.contact__form {
    margin-top: 4rem;
}
.contact__form > div span {
    color: red;
    margin-left: .5rem;
}
.contact__form > div label {
    font-size: 16px;
    margin-right: 1rem;
    width: 220px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;

}
.contact__form > div {
    align-items: center;
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    width: 100%;
}
.contact__form input {
    background-color: #EFEFEF;
    border: none;
    font-size: 16px;
    height: 60px;
    padding: 0 1rem;
    width: 500px;
}
.input, select {
    vertical-align: middle;
}
.input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.mwform-tel-field {
    color: #292929 !important;
    margin-left: 0 !important;
}
.mwform-tel-field input[type="text"], .mwform-zip-field input[type="text"] {
    display: inline-block;
}
.mwform-tel-field input {
    width: 100px !important;
}
.contact__form textarea {
    margin: 1rem auto 0;
    width: 90%;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    font-size: 18px;
    height: 180px;
    padding: 10px;
}
.textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    font: 400 13.3333px Arial;
}
.btn__submit {
    margin: 6rem auto 0;
    position: relative;
    z-index: 2;
}
.btn__submit input {
    background-color: #fff;
    border: 1px solid #292929;
    display: flex;
    font-size: 22px;
    height: 100px;
    justify-content: center;
    margin: auto;
    transition: .3s;
    width: 400px;
}
