.message__wrap {
  width: 75%;
  padding: 40px;
  margin: auto;
  background-color: #fff;
}
.message__bc {
  background-color: #fafafa;
}
.message__2 {
  display: flex;
}
.message__textLeft, .message__imgRight {
  width: 50%;
}
.message__textLeft {
  padding: 40px;
}
.message__imgRight {
  object-fit: cover;
}
.message__imgRight__01 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
