@media screen and (min-width: 768px){
    .hero{
        background: url(../img/hero.jpeg) no-repeat;
        background-size: cover;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        width: 75%;
        margin-left: auto;
        margin-bottom: 100px;
        height: 650px;
        object-fit: cover;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .hero__ttl{
        position: absolute;
        top: 30%;
        left: 10%;
    }
    .hero__value{
        width: 200px;
        height: 80px;
    }
    .hero__ttl-text span{
        font-size: 65px;
        margin-left: 20px;
        color: #2e2e2e;
        font-weight: normal;
    }
    .hero__middle,span{
        font-size: 26px;
    }
    .hero__small{
        font-size: 16px;
        color: #6a6a6a;
    }
}
@media screen and (max-width: 767px){
    .hero{
        background: url(../img/hero.jpeg) no-repeat;
        background-size: cover;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        margin-bottom: 30px;
    }
    .hero__ttl{
        padding: 170px 30px;
    }
    .hero__value{
        width: 100px;
        height: 40px;
    }
    .hero__ttl-text span{
        font-size: 24px;
        margin-left: 0px;
        color: #2e2e2e;
        font-weight: normal;
    }
    .hero__middle,span{
        font-size: 18px;
    }
    .hero__small{
        font-size: 16px;
        color: #6a6a6a;
    }
}
// worksection
@media screen and (min-width: 768px){
    .work__ttl{
        background: url(../img/mission.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 200px;
    }
    .mission__ttl{
        text-align: center;
        width: 100%;
        font-size: 26px;
        color: #414141;
        font-weight:500;
        display: inline-block;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .mission__item{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .mission__imgBox{
        width: 50%;
        height: 500px;
        text-align: center;
    }
    .mission__descBox{
        width: 50%;
        padding: 30px 0 0 30px;
    }
    .mission__desc{
        font-size: 30px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .mission__img{
        width: 400px;
        height: 480px;
        object-fit: cover;
    }
    .mission__text{
        font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 16px;
        width: 75%;
        padding: 20px 0;
        font-weight: 100;
        line-height: 30px;
        margin: 0 0 20px 0;
    }
    .index__human{
        width: 100%;
        margin: auto;
        margin-bottom: 200px;
    }
}
@media screen and (max-width: 767px){
    .mission__imgBox{
        display: none;
    }
    .work__ttl{
        background: url(../img/mission.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 100px;
    }
    .mission__ttl{
        text-align: center;
        width: 100%;
        font-size: 26px;
        color: #414141;
        font-weight:500;
        display: inline-block;
        margin: 0;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .mission__item{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .mission__descBox{
        width: 90%;
        padding: 30px;
    }
    .mission__desc{
        font-size: 30px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .mission__img{
        width: 400px;
        height: 480px;
        object-fit: cover;
    }
    .mission__text{
        font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 16px;
        width: 100%;
        padding: 20px 0;
        font-weight: 100;
        line-height: 30px;
        margin: 0 0 20px 0;
    }
    .index__human{
        width: 100%;
        margin: auto;
        margin-bottom: 100px;
    }
    .mission__button{
        width: 100%;
        text-align: center;
        display: block;
    }
}



// humansection
@media screen and (min-width: 768px){
    .friend__ttl{
        background: url(../img/interview.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 200px;
    }
    .human__ttl{
        text-align: center;
        width: 100%;
        font-size: 26px;
        color: #414141;
        font-weight:500;
        display: inline-block;
        margin: 0;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .human__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 90.625%;
        margin: auto;
    }
    .human__descBox{
     text-align: center;
    }
    .human__item{
        width: 25%;
        height: 100%;
        display: flex;
        margin: auto;
    }
    .human__imgBox{
        // width: 50%;
        // height: 500px;
        // text-align: center;
    }
    .human__descBox{
        width: 50%;
        margin: auto;
    }
    .human__desc{
        font-size: 30px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .human__text{
        font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 16px;
        padding: 20px;
        font-weight: 100;
        line-height: 30px;
        margin: 0 0 20px 0;
    }
    .human__box{
        width: 100%;
        height: auto;
    }
    .human__box ul{
        display: flex;
        padding: 0;
    }
    .human__icon{
        width: 100%;
        object-fit: cover;
    }
    .interview__iconBox{
        width: 100%;
    }
    .human__link{
        width: 25%;
        height: 400px;
        list-style: none;
        text-decoration: none;
    }
    // .next__img{
    //     width: 200px;
    //     height: 100px;
    //     position: relative;
    //     top: 40%;
    //     left: 20%;
    // }
    .next__img:hover{
        -webkit-transition:	all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 0.8;
    }
    .caption {
        text-align: center;
    }
    .mask{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(248, 232, 0, 0.522);
        opacity: 0;
        color: #222;
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .human__item:hover .mask {
        opacity: 1;
        transition:all 0.6s ease;
    }
    .human__item:hover img {
    }
    .interview__item{
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        background: #fff;
        display: block;
        -webkit-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        color: #333;
        text-decoration: none;
        height: auto;
    }
    .interview__detail{
        background: #ffd54d;
        color: #333;
        display: inline-block;
        letter-spacing: .05em;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        line-height: 38px;
        padding-left: 32px;
        padding-right: 32px;
        font-size: 14px;
    }
    .interview__box{
        padding: 42px 32px;
        background: #fff;
        letter-spacing: .05em;
        margin-top: -38px;
        padding: 42px 32px;

    }
    .interview__time{
        margin-bottom: 16px;
        font-size: 14px;
        display: block;
    }
    .interview__jname{
        font-size: 20px;
        margin-bottom: 6px;
        margin-right: 11px;
        display: inline-block;
        font-weight: 700;
    }
    .interview__ename{
        font-size: 12px;
        display: inline-block;
        color: #ffc400;
    }
    .human__moreBox{
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }
    .no1{
        margin-top: 100px;
    }
}
@media screen and (max-width: 767px){
    .friend__ttl{
        background: url(../img/interview.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 100px;
    }
    .human__ttl{
        text-align: center;
        width: 100%;
        font-size: 26px;
        color: #414141;
        font-weight:500;
        display: inline-block;
        margin: 0;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .human__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 90.625%;
        margin: auto;
    }
    .human__descBox{
     text-align: center;
    }
    .human__item{
        width: 47%;
        height: 100%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .human__imgBox{
        // width: 50%;
        // height: 500px;
        // text-align: center;
    }
    .human__descBox{
        margin: auto;
    }
    .human__desc{
        font-size: 30px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .human__text{
        font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 16px;
        padding: 20px;
        font-weight: 100;
        line-height: 30px;
        margin: 0 0 20px 0;
    }
    .human__box{
        width: 100%;
        height: auto;
    }
    .human__box ul{
        display: flex;
        padding: 0;
    }
    .human__icon{
        width: 100%;
        object-fit: cover;
    }
    .interview__iconBox{
        width: 100%;
    }
    .human__link{
        width: 25%;
        height: 400px;
        list-style: none;
        text-decoration: none;
    }
    // .next__img{
    //     width: 200px;
    //     height: 100px;
    //     position: relative;
    //     top: 40%;
    //     left: 20%;
    // }
    .next__img:hover{
        -webkit-transition:	all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 0.8;
    }
    .caption {
        text-align: center;
    }
    .mask{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(248, 232, 0, 0.522);
        opacity: 0;
        color: #222;
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .human__item:hover .mask {
        opacity: 1;
        transition:all 0.6s ease;
    }
    .human__item:hover img {
    }
    .interview__item{
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        background: #fff;
        display: block;
        -webkit-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        color: #333;
        text-decoration: none;
        height: auto;
    }
    .interview__detail{
        background: #ffd54d;
        color: #333;
        display: inline-block;
        letter-spacing: .05em;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 2.6666666667vw;
        line-height: 6.6666666667vw;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .interview__box{
        padding: 42px 20px;
        background: #fff;
        letter-spacing: .05em;
        margin-top: -38px;

    }
    .interview__time{
        margin-bottom: 16px;
        font-size: 14px;
        display: block;
    }
    .interview__jname{
        font-size: 20px;
        margin-bottom: 6px;
        margin-right: 11px;
        font-weight: 700;
    }
    .interview__ename{
        font-size: 12px;
        display: inline-block;
        color: #ffc400;
    }
    .human__moreBox{
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }
    .no1{
    }
}

// messagesection
@media screen and (min-width: 768px){
    .index__message{
        width: 100%;
        margin: auto;
    }
    .message__ttlimg{
        background: url(../img/message.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 150px;
    }
    .message__ttl{
        text-align: center;
        width: 100%;
        font-size: 26px;
        color: #414141;
        font-weight:500;
        display: inline-block;
        margin: 0;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .message__item{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .message__left{
        width: 40%;
        height: 600px;
    }
    .message__imgBox{
        width: 60%;
        height: 600px;
        text-align: center;
    }
    .message__descBox{
        width: 100%;
    }
    .message__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .message__text{
        font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 16px;
        font-weight: 100;
        line-height: 30px;
        margin: 0 0 0 50px;
    }
    .message__more{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}
@media screen and (max-width: 767px){
    .index__message{
        width: 100%;
        margin: auto;
    }
    .message__ttlimg{
        background: url(../img/message.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 100px;
    }
    .message__ttl{
        text-align: center;
        width: 100%;
        font-size: 22px;
        color: #414141;
        font-weight:500;
        display: inline-block;
        margin: 0 0 30px 0;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }
    .message__item{
        width: 100%;
        margin: auto;
    }

    .message__imgBox{
        width: 60%;
        height: 600px;
        text-align: center;
        display: none;
    }
    .message__descBox{
        width: 100%;
    }
    .message__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .message__text{
        font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 16px;
        font-weight: 100;
        line-height: 30px;
        margin: 0 0 0 50px;
    }
    .message__more{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}

// recruitsection
@media screen and (min-width: 768px){
    .recruit__ttlimg{
        background: url(../img/recruit.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 150px;
    }
    .recruit__wrap{
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    .recruit__left,.recruit__right{
        width: 30%;
        height: 170px;
        line-height: 170px;
        align-items: center;
        font-size: 26px;
        background-color: #fff;
        border-radius: 30px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(to right, #79c5dc, #cecfb6);
    }
    .recruit__left:hover,.recruit__right:hover{
        opacity: 0.8;
    }
    .recruit__link{
        background: linear-gradient(to right, #79c5dc, #cecfb6);
    }
}
@media screen and (max-width: 767px){
    .recruit__ttlimg{
        background: url(../img/recruit.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode:lighten;
        background-color:rgba(255,255,255,0.4);
        height: 100px;
    }
    .recruit__wrap{
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    .recruit__left,.recruit__right{
        width: 75%;
        height: 170px;
        line-height: 170px;
        align-items: center;
        font-size: 26px;
        background-color: #fff;
        border-radius: 30px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(to right, #79c5dc, #cecfb6);
    }
    .recruit__left:hover,.recruit__right:hover{
        opacity: 0.8;
    }
    .recruit__link{
        background: linear-gradient(to right, #79c5dc, #cecfb6);
    }
}
