@charset "UTF-8";

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
  font-family: alright-sans;
  src: url("../font/alrightsansboldv3.otf") format("otf"),url(../font/alrightsansboldv3.woff) format("woff"),url(../font/alrightsansboldv3.ttf) format("truetype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:100;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf") format("opentype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:200;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf") format("opentype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:300;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf") format("opentype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:400;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf") format("opentype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:500;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf") format("opentype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:700;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf") format("opentype");
}
@font-face {
  font-family:'Noto Sans Japanese';
  font-style:normal;
  font-weight:900;
  src:url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format("woff2)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff") format("woff)","url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.otf") format("opentype");
}

html {
	-webkit-overflow-scrolling: touch;
}
html,body {
	width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  /*overflow-y: scroll;*/
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  /*overflow-y: hidden;*/
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .06em;
  color: #222;
  background-color: #f5f6f7;
}

body.on {
	position: fixed;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: 700;
}

a.disabled {
  pointer-events: none;
}

.btn .submit-label {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  z-index: 2;
}
@media screen and (min-width:768px) {
  .btn .submit-label {
    font-size: 1.6rem;
  }
}

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  text-align: center;
  opacity: 1;
}
#splash.on {
/*  background-color: transparent;*/
  opacity: 0;
  transition-duration: 1s;
}
#splash .progress {
  width: 0;
  height: auto;
  min-height: .2vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  background-color: #000;
  opacity: 1;
  transition-duration: 1s;

}
#splash .progress.on {
  opacity: 0;
}
#splash .bland {
  color : rgb(255, 255, 255);
  mix-blend-mode : difference;
  -webkit-transition: all 1s;
  transition-duration: 1s;
  opacity: 1;
}

#splash .bland.on {
  opacity: 0;
}
#splash .bland img {
  height: 8vh;
}

#scroll-spacer {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin: 0px;
  display: block;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 100vh;

}
#scroll-spacer #bland {
  width: 100%;
  text-align:center;
  padding: .5rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (min-width:768px) {
  #scroll-spacer #bland {
    padding: 1rem;
  }
}
#scroll-spacer #bland h1 {
  margin: 0;
}
#scroll-spacer #bland h1 img {
  width: 2rem;
  height: auto;
}
@media screen and (min-width:768px) {
  #scroll-spacer #bland h1 img {
    width: 3rem;
  }
}
#scroll-spacer #bland h1 p {
  font-size: 1rem;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: normal;
  margin: .1rem 0 0;
}
@media screen and (min-width:768px) {
  #scroll-spacer #bland h1 p {
    margin: 1rem 0 0;
  }
}
header.masthead {
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  box-sizing: border-box;
}
header.masthead #hero-scroll {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 50px;
  margin: 0 auto;
  font-size: 12px;
  font-size: .75rem;
  font-family: Catamaran;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .32em;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  z-index: 10;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header.masthead #hero-scroll.inview {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

header.masthead #hero-scroll p {
  font-size: .6rem;
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: bold;
  line-height: 1.125em;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: 0 auto;
}

header.masthead #hero-scroll-bar {
  width:1px;
  height:100%;
  overflow:hidden;
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  margin:0 auto;
  background-color:#d7d7d7;
}

header.masthead #hero-scroll-bar-in {
  height:80%;
  position:absolute;
  top:0;
  right:0;
  left:0;
  background-color:#143659;
  -webkit-transform:scale(0);
  -ms-transform:scale(0);
  transform:scale(0);
  -webkit-animation-name:animateScrollBar;
  animation-name:animateScrollBar;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-timing-function:cubic-bezier(.645,.045,.355,1);
  animation-timing-function:cubic-bezier(.645,.045,.355,1);
  -webkit-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes animateScrollBar {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }

  80% {
    -webkit-transform:translateY(200%);
    transform:translateY(200%);
  }
}

@keyframes animateScrollBar {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }

  80% {
    -webkit-transform:translateY(200%);
    transform:translateY(200%);
  }
}

#hero {
  background-image: url("../images/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
#hero::after {
  content: '';
  /*background-color: rgba(0, 0, 0, .3);*/
  background-image: url(../images/overlay.gif);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#hero .hero-title {
  text-align: center;
  position: absolute;
  width: 100vh;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  z-index: 1
}
#hero .hero-title .catch-en,
#hero .hero-title .catch-ja {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 .3rem #000;
  margin: 0;
  opacity: 0;
  transition-duration: 1s;
}
#hero .hero-title .catch-en {
  font-size: 1.7rem;
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
}
#hero .hero-title .catch-ja {
  font-size: 1.2rem;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
}
@media screen and (min-width:414px) {
  #hero .hero-title .catch-en {
    font-size: 2rem;
  }
  #hero .hero-title .catch-ja {
    font-size: 1.5rem;
  }
}
@media screen and (min-width:576px) {
  #hero .hero-title .catch-en {
    font-size: 3rem;
  }
  #hero .hero-title .catch-ja {
    font-size: 2rem;
  }
}
@media screen and (min-width:992px) {
  #hero .hero-title .catch-en {
    font-size: 4rem;
  }
  #hero .hero-title .catch-ja {
    font-size: 2.5rem;
  }
}
@media screen and (min-width:1200px) {
  #hero .hero-title .catch-en {
    font-size: 5rem;
  }
  #hero .hero-title .catch-ja {
    font-size: 3rem;
  }
}
#hero .hero-title .catch-en.inview,
#hero .hero-title .catch-ja.inview {
  opacity: 1;
}

.message {
  z-index: 15;
  margin-bottom:50px;
}
@media screen and (min-width:576px) {
  .message {
    margin-bottom:5.55556%;
  }
}
.message .message-expand {
  margin: -75px auto 5.55556%;
  padding-top: 6.44444%;
  padding-bottom: 3.88889%;

}
.message-title {
  margin-bottom: 2rem;
}
.message-title .ja,
.message-title .en {
  display: block;
  letter-spacing: .1em;
}
.message-title .ja {
  font-family: "Noto Serif JP", serif;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .message-title .ja {
    font-size: 1.6rem;
  }
}
.message-title .en {
	font-size: 1.2rem;
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
	.message-title .ja br,
	.message-title .en br {
		display: none;
	}
}
.message-text {
	font-size: 1rem;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  line-height: 2;
  margin-bottom: 3.5rempx;
}
@media screen and (min-width: 576px) {
  message-text {
	  font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .message-text {
	  font-size: 1.2rem;
    line-height: 2.64;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .message-message {
    margin-bottom: 35px;
  }
  .message-title {
    margin-bottom: 35px;
  }
  .message-title .ja {
    margin-bottom: 25px;
    font-size: 2.2rem;
  }
  .message-title .en {
    font-size: 2rem;
  }
  .message-text {
	  font-size: 1.4rem;
    line-height: 2.64;
    margin-bottom: 50px;
  }
}
.message-expand-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
}
.message-expand-body, .about-intro-body, .about-contents-body {
  opacity: 0;
  z-index: 10;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}
.message-expand-body.inview, .about-intro-body.inview, .about-contents-body.inview {
  opacity: 1;
}
.message-expand.inview-fix, .about-intro-body.inview-fix, .about-contents-body-inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.message-expand .message-expand-bg {
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.message-expand .message-expand-bg.inview {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.message-expand .message-expand-bg.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.scroll-type-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 37.3333333333vw;
}
@media screen and (min-width:576px) {
	.scroll-type-wrap {
		height: 330px;
	}
}
.scroll-type-first,
.scroll-type-second {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 37.3333333333vw;
  color: #84c4ab;
  font-size: 37.3333333333vw;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0.2;
}
.scroll-type-first,
.scroll-type-second {
  -webkit-animation: scroll-first 40s 0s linear infinite normal;
  animation: scroll-first 40s 0s linear infinite normal;
}
.scroll-type-second {
  -webkit-animation: scroll-second 40s -20s linear infinite normal;
  animation: scroll-second 40s -20s linear infinite normal;
}
@media screen and (min-width:576px) {
	.scroll-type-first,
  .scroll-type-second {
	  font-size: 330px;
		height: 330px;
	}
}
@-webkit-keyframes scroll-first {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes scroll-first {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-second {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes scroll-second {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.about .about-intro-body {
  z-index: 5;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
	.about .about-intro-body {
    padding: 0 7rem;
  }
}
.about .about-intro-body h2 .en {
  font-size: 1.2rem;
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .about .about-intro-body h2 .en {
    font-size: 1.6rem;
  }
}
.about .about-intro-body h2 .ja {
  font-size: 1.8rem;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: bold;
  margin-top: .5rem;
}
.about .about-intro-body p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  .about .about-intro-body p {
    line-height: 2.30769;
  }
}
.about-image {
  position: relative;
  overflow: hidden;
  max-height: 50rem;
  z-index: 5;
}
.about-image {
  overflow: hidden;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.about-image.inview {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.about-image.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.about-image picture {
  display: block;
}
.about-image picture img {
  visibility: hidden;
}
.about-image picture {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}
.about-image picture.inview {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.about-image picture.inview img {
  visibility: visible;
}
.about-image picture.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.about-outline {
	right: 0;
  bottom: 0;
  z-index:10;
}
.about-contents-body {
	padding: 1.48rem;
  z-index: 10;
}
@media screen and (min-width:768px) {
	.about-contents-body {
	  padding: 2.5rem;
	}
}
.about-item-day {
	font-size: 1.1rem;
	color: #805624;
}
@media screen and (min-width:768px) {
	.about-item-day {
		margin-bottom: .8rem;
	}
}
.about-item-text {
	font-size: 1.2rem;
	color: #222;
}
@media screen and (min-width:576px) {
	.about-item-text {
		font-size: 1.4rem;
	}
}
.about-contents-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255,255,255,1);
}
.about-contents-bg {
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.about-contents-bg.inview {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.about-contents-bg.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.recruit {
  padding-bottom: 5rem;
  background-image: url("../images/recruit.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}
.recruit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
}
.recruit h2 {
  font-size: 1.2rem;
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
	.recruit h2 {
    font-size: 1.6rem;
	}
}
.recruit h3 {
  font-size: 1.3rem;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: bold;
  margin-top: .5rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
	.recruit h3 {
    font-size: 1.8rem;
	}
}
@media screen and (min-width: 992px) {
	.recruit h3 {
    font-size: 2rem;
	}
}
.recruit-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
	.recruit-text {
    font-size: 1.3rem;
	}
}
.recruit .header {
  opacity: 0;
  padding: 10rem 1rem 5rem;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 32);
  transform: matrix(1, 0, 0, 1, 0, 32);
  -webkit-transition: all .65s;
  transition: all .65s;
}
@media screen and (min-width: 768px) {
  .recruit .header {
     margin-bottom: 4rem;
  }
}
.recruit .header.inview {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.recruit .header p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .recruit .header p {
    font-size: 1.3rem;
    line-height: 2.8rem;
  }
}
.recruit .recruit-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 32);
  transform: matrix(1, 0, 0, 1, 0, 32);
  -webkit-transition: all .65s;
  transition: all .65s;
}
.recruit .recruit-item.on {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.recruit .recruit-item h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .recruit .recruit-item h5 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}
.recruit .recruit-item p {
	font-size: 1rem;
  line-height: 2;
}
@media only screen and (min-width: 768px) {
  .recruit .recruit-item p {
	  font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .company{
    width: 768px;
    background-color: #fff;
    padding: 60px;
    margin: 70px auto;
  }
  .company__wrap{
    display: flex;
  }
  .companyTtlWrap{
    width: 50%;
    height: 40px;
    margin: auto;
  }
  .company__ttl{
    height: 40px;
  }
  .companyInfo{
    width: 50%;
    padding: 20px;
  }
  .companyInfo__list{
    display: flex;
  }
  .companyInfo__dt{
    font-size: 15px;
    width: 70px;
    font-weight: bold;
    color: rgb(165, 165, 165);
  }
  .companyInfo__dd{
    font-size: 15px;
    font-weight: bold;
  }
}
@media screen and (max-width: 767px){
  .company{
    width: 100%;
    background-color: #fff;
    padding: 50px;
    margin: 70px auto;
  }
  .companyTtlWrap{
    width: 100%;
    padding: 20px;
  }
  .company__ttl{
    height: 40px;
    font-size: 16px;
  }
  .companyInfo{
    padding: 20px;
    margin: 0 auto;
    width: 270px;
  }
  .companyInfo__list{
    display: flex;
  }
  .companyInfo__dt{
    font-size: 11px;
    width: 64px;
    font-weight: bold;
    color: rgb(165, 165, 165);
  }
  .companyInfo__dd{
    font-size: 11px;
    font-weight: bold;
  }
}
.access .gmap-wrap {
  width: 100%;
  padding-top: 40.25%;
  overflow: hidden;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  margin:0 0 0 auto
}
.access .gmap-wrap.inview {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.access .gmap-wrap.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.access .gmap-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100,0,0);
}
@media screen and (min-width: 768px) {
  .access .gmap-wrap iframe {
     margin-left: 20vh;
  }
}
.access .gmap-wrap iframe.inview {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.access .gmap-wrap iframe.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.access .gmap-wrap iframe {
  width: 100%;
  display: block;
}
.access .gmap-wrap iframe,
.access .gmap-wrap object,
.access .gmap-wrap embed {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.access .outline {
  position: static;
}
@media screen and (min-width:768px) {
  .access .outline {
    position: absolute;
  	left: 0;
    bottom: 0;
    z-index:10;
  }
}
.access .contents-body {
  margin: -21px auto 5.55556%;
  opacity: 0;
  z-index: 10;
	padding: 1.48rem;
  z-index: 10;
}

@media screen and (min-width:768px) {
	.access .contents-body {
	  padding: 2.5rem;
    margin: -67px auto 5.55556%;
	}
}
@media screen and (min-width:992px) {
	.access .contents-body {
    margin: -77px auto 5.55556%;
	}
}
.access .contents-body.inview {
  opacity: 1;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}
.access .contents-body.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.access .contents-body .header h2 {
  margin: 0 0 2rem;
}
@media screen and (min-width: 768px) {
  .access .contents-body .header h2 {
    margin: 1.5rem 0 2rem;
  }
}
.access .contents-body .header h2 .ja,
.access .contents-body .header h2 .en {
  display: block;
}
.access .contents-body .header h2 .ja {
  font-size: 1.8rem;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: bold;
  margin-top: .5rem;
}
.access .contents-body .header h2 .en {
	font-size: 1.2rem;
  font-family: alright-sans,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .access .contents-body .header h2 .ja {
    font-size: 2.2rem;
  }
  .access .contents-body .header h2 .en {
    font-size: 1.6rem;
  }
}
.access .contents-body ul {
  font-size: 1.1rem;
  line-height: 2.5rem;
  list-style: none;
  padding: 0;
}
@media only screen and (min-width: 769px) {
  .access .contents-body ul {
    font-size: 1.3rem;
    line-height: 2.8rem;
  }
}
.access .btn {
  position: relative;
  width: 100%;
  border: 1px solid #000;
  -webkit-transition: all .65s;
  transition: all .65s;
}
.access .btn:hover {
  color: #fff;
  background-color: #000;
}
.access .contents-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255,255,255,1);
}
.access .contents-bg {
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.access .contents-bg.inview {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.access .contents-bg.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #000;
}
.footer .copy {
  font-size: 1rem;
  color: #fff;
}


.modal {
	-webkit-overflow-scrolling: touch;
}
.modal .modal-dialog {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  min-height: 100%;
}
@media screen and (min-width: 992px) {
  .modal-lg, .modal-xl {
    min-width: 100vw;
  }
}
@media screen and (min-width: 576px) {
  .modal-dialog {
    min-width: 100vw;
  }
}
.modal .modal-content {
  opacity: 0;
  z-index: 10;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}
.modal .modal-content.inview {
  opacity: 1;
}
.modal .modal-content.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.modal .sheet-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.modal .sheet-bg {
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.modal .sheet-bg.inview {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
  transition-timing-function: cubic-bezier(.86,0,.07,1);
}
.modal .sheet-bg.inview-fix {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.modal .modal-content .modal-header {
  padding-top: 10rem;
  border-bottom: none;
  margin-bottom: 4.4rem;
/*
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
*/
}
.modal .modal-content .modal-header.inview-fix {
  opacity: 1;
}
.modal .modal-content .modal-header h4 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal .modal-content .modal-header h4 {
    font-size: 2.2rem;
  }
}
.modal .modal-body {
	padding: .65rem;
}
.modal .modal-body .flow .step{
  list-style-type: none;
  display: table;
  width: 100%;
  padding :0;
  margin-bottom: 6.4rem;
  overflow: hidden;
}
.modal .modal-body .flow .step li{
  display:table-cell;
  position:relative;
  background: #000;
  padding: 1em 0.5em 1em 2em;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .modal .modal-body .flow .step li{
    font-size: 1.3rem;
  }
}
.modal .modal-body .flow .step li:last-child{
  padding-right: 1em;
}
.modal .modal-body .flow .step li:last-child:before,
.modal .modal-body .flow .step li:last-child:after{
  display:none;
}
.modal .modal-body .flow .step li:before,
.modal .modal-body .flow .step li:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
.modal .modal-body .flow .step li:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.modal .modal-body .flow .step li:after{
  top:-15px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.modal .modal-body .form-group {
  margin-bottom: 6rem;
}
.modal .modal-body .form-control-lg {
  font-size: 1.6rem;
}
.modal .modal-title,
.modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}
.modal label .badge {
	color: #fff;
	border-radius: 0;
	background-color: #000;
}
.modal .modal-body input::placeholder {
  color: #aaa;
  font-size: 1.2rem;
  line-height: calc(1.5em + 1rem);
}
.modal .modal-body input::-ms-input-placeholder {
  color: #aaa;
  font-size: 1.2rem;
  line-height: calc(1.5em + 1rem);
}
.modal .modal-body input:-ms-input-placeholder {
  color: #aaa;
  font-size: 1.2rem;
  line-height: calc(1.5em + 1rem);
}
.modal .modal-body textarea {
  font-size: 1.6rem;
}
.modal label .validation {
	padding-left: .5rem;
	color: #ff0000;
}

.modal .col-auto {
	font-size: .65rem;
}
@media screen and (min-width: 576px) {
	.modal .col-auto {
	  font-size: .8rem;
	}
}
.modal #message {
	line-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: line-height .3s ease-out, opacity .1s linear, visibility .1s linear;
  transition: line-height .3s ease-out, opacity .1s linear, visibility .1s linear;
}
.modal #message.inview {
  opacity: 1;
  visibility: visible;
}
.modal #message.inview p {
	font-weight: 600;
  text-align: center;
	line-height: 1;
}
.modal #message.inview .success {
	color: #468F74;
}
.modal #message.inview .error {
	color: #ff0000;
}
.modal #submit {
  position: relative;
  border: 0;
  border-radius: 0;
  color: #f1ede1;
  text-decoration: none;
  letter-spacing: .14em;
  opacity: .1;
  pointer-events: none;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.modal #submit.inview {
  opacity: 1;
  pointer-events: auto;
}
.modal #submit-label {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  z-index: 2;
}
@media screen and (min-width:768px) {
  .modal #submit-label {
    font-size: 1.6rem;
  }
}
.modal #submit-bg {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000;
  -webkit-transition-duration:1s;
  transition-duration:1s;
  -webkit-transition-timing-function:cubic-bezier(.075,.82,.165,1);
  transition-timing-function:cubic-bezier(.075,.82,.165,1);
}
.modal #submit.inview:hover #submit-bg {
  background-color: #313333;
}
.modal-footer {
  width: 100%;
  border-top: none;
  padding: 0 .65rem 3rem;
}
.modal-backdrop.show {
  opacity: 0;
}

.modal-close-wrap {
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  z-index: 20;
}
@media screen and (min-width: 576px) {
	.modal-close-wrap {
    top: 0;
    right: 0;
    margin: 2.5rem 2.5rem 0 0;
  }
}
.modal-close {
  width: 3rem;
  height: 2.5rem;
  opacity: 1;
  outline: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.modal-close span {
  width: 3rem;
  height: 2px;
  overflow: hidden;
}
@media screen and (min-width: 576px) {
	.modal-close {
    width: 4rem;
    height: 3.5rem;
  }

  .modal-close span {
	  width: 4rem;
	}
}
.modal-close span div {
  height: 100%;
  background: #000;
}
.modal-close span:first-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-close div {
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.modal-close:hover .line-1 {
  -webkit-animation-duration:.6s;
  animation-duration:.6s;
  -webkit-animation-timing-function:cubic-bezier(.77,0,.175,1);
  animation-timing-function:cubic-bezier(.77,0,.175,1);
}
.modal-close:hover .line-1,
.modal-close:hover .line-2 {
  -webkit-animation-name: modal-close-hover;
  animation-name: modal-close-hover;
}

.modal-close:hover .line-2 {
  -webkit-animation-duration:.7s;
  animation-duration:.7s;
  -webkit-animation-timing-function:cubic-bezier(.77,0,.175,1);
  animation-timing-function:cubic-bezier(.77,0,.175,1);
}
@-webkit-keyframes modal-close-hover {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }

  49% {
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    opacity:1;
  }

  50% {
    opacity:0;
  }

  51% {
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
  }

  52% {
    opacity:1;
  }

  to {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
}
@keyframes modal-close-hover {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }

  49% {
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    opacity:1;
  }

  50% {
    opacity:0;
  }

  51% {
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
  }

  52% {
    opacity:1;
  }

  to {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
}
